<% if signed_in? and !current_user.dismissed_welcome_message %>
  <div id="welcome_message" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Welcome to RubyGameDev.com, the community-driven, information hub which helps others to build games in Ruby! First time here?
    <%= link_to 'Learn More', about_page_path, class: 'alert-link' %>.
  </div>
  <%= form_for current_user, remote: true do |f| %>
    <%= f.hidden_field :dismissed_welcome_message, value: 1 %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to "New Post", new_post_path, class: 'btn btn-primary pull-right' %>
        <%= link_to "Tags", tags_path, class: 'btn btn-primary pull-right tag-btn' %>
        <h2>Latest Posts</h2>
        <%= render 'posts/list' %>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= link_to "Help Out on GitHub", 'https://github.com/ruby-rcade/RubyGameDev.com', class: 'btn btn-sm btn-primary', style: 'vertical-align: top' %>
        <a href="https://twitter.com/RubyGameDev" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @RubyGameDev</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body text-center">
          <% if @showcase %>
            <h3><%= link_to @showcase.title, showcase_path(@showcase) %></h3>
            <%= image_tag attachment_url(@showcase, :screenshot, :fill, 150, 100, format: "jpg") %>

            <div class="show-description">
              <p><%= truncate @showcase.description, length: 250 %>
              <%= link_to 'read more', showcase_path(@showcase) %></p>
            </div>

            <div class="web-icons">
              <% if @showcase.gh_repo_url.present? %>
                <%= link_to image_tag('GitHub-Mark-32px.png', alt: 'GitHub'), @showcase.gh_repo_url, :target => '_blank'%>
              <% end %>
              <% if @showcase.app_store_url.present? %>
                <%= link_to image_tag('appstore_logo.jpeg', alt: 'App Store', width: 32, height: 32), @showcase.app_store_url, :target => '_blank' %>
              <% end %>
              <% if @showcase.google_play_url.present? %>
                <%= link_to image_tag('google_play.png', alt: 'Google Play', height: 32), @showcase.google_play_url, :target => '_blank' %>
              <% end %>
            </div>
          <% end %>
          <%= link_to "Share Your Game", new_showcase_path, class: 'btn btn-sm btn-primary'%>
          <%= link_to "View All Games", showcases_path, class: 'btn btn-sm btn-primary'%>
      </div>
    </div>
  </div>
</div>
