<h1>
  <%= @showcase.title %>
  <%= link_to 'All Games', showcases_path, class: 'btn btn-primary pull-right' %>
</h1>

<p>
  <b>Posted by:</b> <%= @showcase.username %> on <%= @showcase.created_at.strftime("%m/%d/%Y") %>

  <% if policy(@showcase).update? %>
      | <%= link_to 'Edit', edit_showcase_path(@showcase) %>
  <% end %>
</p>

<%= image_tag attachment_url(@showcase, :screenshot, :fill, 300, 300, format: "jpg"), class: "img-showcase pull-right" %>

<div class="showcase-description">
  <%= @showcase.description %>
</div>

<div class="web-icons">
  <%= link_to image_tag('GitHub-Mark-32px.png', alt: 'GitHub'), @showcase.gh_repo_url, :target => '_blank'%>
  <%= link_to image_tag('appstore_logo.jpeg', alt: 'App Store', width: 32, height: 32), @showcase.app_store_url, :target => '_blank' %>
  <%= link_to image_tag('google_play.png', alt: 'Google Play', height: 32), @showcase.google_play_url, :target => '_blank' %>
</div>